@use "../_utils/utils" as *;

/// -----------------------------------------------------------------------------
/// 🟢 Title
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(title) {
	margin: 0;
	margin-left: 9px;
	color: $color-neutral;
	font-size: 1rem;
	font-weight: 600;
}
